body { background: #ce99ff;
       font-family: 'Sumana', serif;
		line-height: 30px }
h1 {font-family: 'Sumana', serif;
	font-weight: bold;
	font-size: 300%;
	margin: 0;
	line-height: 60px;
	text-align: center }
	
h2 {font-family: 'Sumana', serif;
	font-weight: bold;
	font-size: 200%;
	margin: 0;
	line-height: 75px;
	text-align: center }

h3 {font-family: 'Sumana', serif;
	font-weight: bold;
	font-size: 150%;
	margin: 0;
	line-height: 75px;
	text-align: left }
	
nav { font-family: 'Sumana', serif;
      text-align: center;
	  font-size: 150%;
      font-weight: bold; }
nav ul { margin: 0 }
nav li { display: inline-block;
         border: 1px solid black;
         padding: 4px;
		 margin: 3px;
         font-size: 80%;
         background: #e6ccff }
#portrait { height: 400px;
            float: right; 
            margin: 10px;}